@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-image:linear-gradient(to right, #e2e2e2, #c9d6ff); 
    
}
div{
    margin: auto;
    margin-top: 150px;
    border-radius: 15px;
    width: 500px;
    height: 225px;
    background-image: linear-gradient(to top, rgba(255, 13, 13, 0.668), goldenrod);
    box-shadow: 10px 7px 5px grey;
}
h1, a{
    padding-top: 50px;
    display: grid;
    place-content: center;
    text-decoration: none;
    color: white;
    font-family: Freeman;
}
a{
    font-size: large;
}